<div class="row-md-6">
  <h3>{{movie.movieName}}</h3>
  <div class="form-group">
      <label for="select">Star Rating (1=lowest)</label>
      <select [(ngModel)]="editMovieRating.starRating" class="form-control" id="select">
              <option *ngFor="let num of starRating">{{num}}</option>
      </select>
  </div>
  <div class="form-group">
      <label for="comment">Additional comment</label>
      <textarea [(ngModel)]="editMovieRating.comment" class="form-control" id="comment" rows="3"></textarea>
  </div>
  <button (click)="onRatingSubmit()" id="btn" class="btn btn-primary">Bewerten</button>
</div>
<hr/>
