<div class="row">
  <div class="col-md-2 align-self-center">
    <p class="text-center font-weight-bold">Current Rating</p>
    <p class="text-center">{{movieOverallRating.rating}} <img src="assets/star.png" width="24" height="24"></p>

    <span class="badge badge-success align-self-center"
          [hidden]="movieOverallRating.rating == 0 || movieOverallRating.rating < 7">Recommended</span>
    <span class="badge badge-warning"
          [hidden]="movieOverallRating.rating == 0 || (movieOverallRating.rating < 5 || movieOverallRating.rating >= 7)">Neutral</span>
    <span class="badge badge-danger"
          [hidden]="movieOverallRating.rating == 0 || movieOverallRating.rating > 4">Not Recommended</span>

          <p class="text-center">{{movieOverallRating.ratingAmount}}
            <span class="text-center"
              [hidden]="movieOverallRating.ratingAmount == 0 || movieOverallRating.ratingAmount > 1">Rating</span>
              <span class="text-center"
              [hidden]="movieOverallRating.ratingAmount == 1">Ratings</span>

          </p>
  </div>

  <div class="col-md-10">
    <h3>{{movie.movieName}}</h3>
           <h6>{{movie.genre}} at {{movie.cinema}}, {{movie.length}} minutes </h6>
    <div class="form-group">
      <label for="select">Star Rating (1=lowest)</label>
      <select [(ngModel)]="editMovieRating.starRating" class="form-control" id="select">
        <option *ngFor="let num of starRatingOptions">{{num}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="comment">Additional comment</label>
      <textarea [(ngModel)]="editMovieRating.comment" class="form-control" id="comment" rows="3"></textarea>
    </div>
    <div>
    <mat-checkbox 
    class="example-margin"
    [(ngModel)]="checkboxChecked"
    [(indeterminate)]="N"
    [(disabled)]="Y" >
      Fell a sleep
    
    </mat-checkbox>
      </div>


    <button (click)="onRatingSubmit()" id="btn" class="btn btn-primary">Rate</button>
  </div>

</div>
<hr/>
